@import url('https://fonts.googleapis.com/css?family=Oswald:300');
*{
	padding:0;
	margin:0;
}
header{
	background-color: rgba(0,0,0,0.5);
	padding: 5px;
}
body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 25px;
	color:orange;
	
}

h4{
	font-family: 'Oswald', sans-serif;
	text-align: right;
	font-size: 20px;
	color: white;
}
h1{
	font-family: 'Oswald', sans-serif;
	color: #E7FF69;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	font-size: 60px;
}
a{ 
	color: red; 
	text-decoration: none; 
}

nav a{
	color: #cccccc;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	padding: 10.6px;
	font-size: 40px;
	font-weight: normal;
}

main>h3{
	text-align: center;
}

.activities img{
	width:75%;
	display: block;
	margin: 0;
}

.activities{
	background-color: #1D4D5B;
	float: left;
	width:22%;
	margin:1.5%;
}

.activities >h4{
	margin:.5em;
}

.wrapper{
	width: 90%;
	margin: auto;
	color: #B9DAE3
}


.members img{
	width: ;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}







