*{
	padding:0
	margin:0;
}
header{
	background-color: #385CFF;
	padding: 20px;
}
body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color:#222222;
}

h1{
	color: #E7FF69;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	font-size: 75px;
}
a{ 
	color: #385CFF;
	text-decoration: none; 
}
nav a{
	color: #cccccc;
	font-style:italic;
	padding: 10px;
	text-align: center;
}
main{

}
img{ 
	width:350px;
}
